
canvas {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    pointer-events: none;
}

#buttons {
    position: fixed;
    top: 10px;
    left: 10px;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 100px 100px;
    background-color: rgba(255, 255, 255, 0.855);
    padding: 8px;

}

.reversedRange {
    direction: rtl
}