{
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 140,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
