footer {
  background-color: var(--surface-color);
  padding: 0.5em;
}

.personal-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 8em;
  height: 8em;
  border-radius: 100%;
}

.personal-details ul {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  list-style-type: none;
  padding: 0;
}

.social-list {
  margin-top: 2em;
  display: flex;
  gap: 1.5em;
  list-style-type: none;
  padding: 0;
}

.social-list li {
  list-style-type: none;
}

.social-list a {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.social-list-icon {
  fill: var(--text-color-faded);
  width: 1.8em;
}

.social-list-icon:hover {
  fill: var(--text-color);
  transform: scale(1.2);
}
