.projects-container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  width: 100%;
}

@media screen and (min-width: 1200px){
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

.project-box {
  display: flex;  
  flex-direction: column;
  background-color: var(--surface-color);
  border-radius: 0.5em;  
  padding: 0.5em;
  color: var(--text-color);
  text-decoration: none;
}

.project-box p, .project-box h4 {
  margin: 0;
}


.project-box .icon {
  fill: var(--text-color);
  width: 1em;
}

.project-box img, .project-box video {
  height: auto;
max-width: 100%;}

.project-box li, .project-box p {
  line-height: 1.5;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.project-title-and-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-title {
  flex: 1;
  font-size: 1.7em;
  margin: 0;
}

.project-title h4 {
  text-decoration: underline;
}

.project-title-and-links a {
  background: none;
  cursor: pointer;
  height: fit-content;
  color: var(--link-color);
}

.project-box h5 {
  margin: 0.5em 0;
  font-size: 1.5em;

}

.project-box ol {
  margin: 0;
}

.project-chips {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.project-box hr {
  width: 95%;
  border: 1px solid var(--text-color-faded)!important;
}

.project-description {
  padding: 0;
  margin: 0;
}

.project-chips .chip {
  width: 1em;
  display: inline-block;
}