.social-list {
  display: flex;
  gap: 1em;
  list-style-type: none;
  padding: 0;
}

.social-list li {
  list-style-type: none;
  background-color: var(--background-color);
  padding: 0.5em;
  border-radius: 0.5em;
}

.social-list a {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.social-list li:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.social-list svg {
  color: var(--primary-color);
  width: 2em;
}

.social-list li:hover svg{
  color: var(--background-color);
}
