.tech-box {
  display: flex;
  gap: 1em;
  background-color: var(--surface-color);
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.tech-box:hover {
  background-color: var(--surface-color-hover);
}

.tech-box img {
  width: 3em;
}

.tech-box h4 {
  font-weight: 300;
  font-size: 1em;
}

.tech-box.sm {
  display: block;
}